body {
    background-image: url(/stupa.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.justify {
    color: blue;
    text-align: justify;
    width: 960px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
    background: url(/avocado.jpg)  repeat;
}
.repeat {
    width: 960px;
    height: 500px;
    border: 2px solid red;
    margin: 0 auto;
    background: url(/avocado.jpg)  repeat-x;
}